<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="eclipse-421">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210825222808/repository"/>
			<unit id="com.google.guava" version="30.1.0.v20210127-2300"/>
			<unit id="org.antlr.runtime" version="3.5.2.v20200724-1452"/>
			<unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-09"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.23.100.v20210830-0925"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.900.v20210906-0500"/>
			<unit id="org.eclipse.swt.tools.feature.feature.group" version="3.108.200.v20210830-2107"/>
			<unit id="org.eclipse.swtbot.eclipse.feature.group" version="3.1.0.202106041005"/>
			<unit id="org.eclipse.swtbot.eclipse.gef.feature.group" version="3.1.0.202106041005"/>
			<unit id="org.eclipse.swtbot.feature.group" version="3.1.0.202106041005"/>
			<unit id="org.eclipse.swtbot.ide.feature.group" version="3.1.0.202106041005"/>
			<unit id="epp.package.committers" version="4.21.0.20210910-1200"/>
			<unit id="org.eclipse.egit.feature.group" version="5.13.0.202109080827-r"/>
			<unit id="org.eclipse.egit.gitflow.feature.feature.group" version="5.13.0.202109080827-r"/>
			<unit id="org.eclipse.jgit.feature.group" version="5.13.0.202109080827-r"/>
			<unit id="org.eclipse.test.feature.group" version="3.7.1600.v20210729-0440"/>
			<unit id="org.eclipse.sdk.feature.group" version="4.21.0.v20210906-0842"/>
		</location>
	</locations>
</target>