<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="partitioner" name="Partitioner that creates ITypedRegions for a certain type of partitioning" schema="schema/partitioner.exsd"/>
   <extension-point id="partitionValidator" name="Validators based on typed regions (partitions)" schema="schema/partitionValidator.exsd"/>
   <extension-point id="uriValidator" name="URI validators" schema="schema/uriValidator.exsd"/>
</plugin>
